<!-- HEADER - Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="../assets/logo-restaurant.png"
  />
  <span>Bruno's Restaurant</span>
    <div class="spacer"></div>
    <a rel="noopener" href="/" title="home">
      <p id="twitter-logo">Home</p>
    </a>
    <a rel="noopener" href="/menu" title="menu">
      <p id="twitter-logo">Menu</p>
    </a>
    <a rel="noopener" href="/categoria" title="categoria">
      <p id="youtube-logo">Categorias</p>
    </a>
</div>

<!-- MAIN - rotas -->
<router-outlet></router-outlet>

<!-- FOOTER -->
<footer></footer>
